<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <header th:fragment="member_header">
    <div class="top">
      <div>
        <a th:href="@{/member/login}">로그인</a>
        <a th:href="@{/member/register}">회원가입</a>
        <a href="#">마이페이지</a>
        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
      </div>
    </div>
    <div class="logo">
      <div>
        <a th:href="@{/index}"><img th:src="@{/images/header_logo.png}" alt="로고"/></a>
      </div>
    </div>
  </header>
</body>
</html>